<div class="panel panel-info">
	<div class="panel-body">
		<%= simple_form_for @post do |f| %>
		  <%= f.input :title, label: 'Title'  %>
		  <%= select_tag(:category_id, options_for_select(@categories),:prompt => "Select Category",:class => 'form-control') %>  
		  <%= f.input :body , as: :text, :input_html => { :rows => 7 , :style => 'width: 100%'}%>
		  <%= link_to "Back", posts_path, {:class => 'btn btn-sm btn-warning'} %>
		  <%= f.button :submit, {:class => 'btn btn-sm btn-primary pull-right'} %>
		<% end %>
	</div>
</div>		